<!-- Render selling items :: views/partials/list.ejs -->
<ul class="reset">
    <% list.forEach(function(item) { %>
        <li><a href="<%= item.url %>"><%= item.title %></a>
		<% if(item.comments >= 2){ %>
              <p class="fade"><%= item.comments %> comments </p>
            <% } else{ %>
            	<p class="fade">[ NEW ] <%= item.comments %> comments -- BE THE FIRST </p>
            <% } %>
        </li>
    <% }); %>
</ul>
