<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>mechgrab: Latest Mechanical Keyboard Posts</title>
		<meta name="description" content="mechanical, keyboard, keys, artisan, mech">
		<meta name="author" content="">

		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Font -->
		<link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
		<!-- CSS -->
		
		<link rel="stylesheet" type="text/css" href="public/css/style.css" />
		<link rel="stylesheet" type="text/css" href="public/css/grid.css" />
		<!-- favicon -->
		<link rel="icon" type="image/png" href="../../dist/images/favicon.png">
	</head>
	<body>

		<!-- Begin -->
		<div class="section hero">
			<div class="container">
				<div class="row">
					<div class="grid grid-pad">
						<div class="col-1-1">
							<h1>mechgrab</h1>
							<h3>Grab latest. Be the first. Tasty time!</h3>
							<a href="" class="button raised blue large">Grab List</a>
							<ul>
								<% include partials/list.ejs %>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>